.container{
    position: relative;
}
.content{
    padding-bottom: 100px;
} 
.tag-account{
    background-color: #000000;
}


table {
    border-collapse: collapse; /* Gộp các đường viền lại */
}
table , th, td, tr ,thead{
    border: solid black 1px;
}
.page-link{
    height: 30px;;
}