.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
    border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .chat-search-box {
        display: none;
    }
}


/************************************************
	************************************************
									Users Container
	************************************************
************************************************/

.users-container {
    position: relative;
    padding: 1rem 0;
    border-right: 1px solid #e6ecf3;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


/************************************************
	************************************************
											Users
	************************************************
************************************************/

.users {
    padding: 0;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #f0f4f8;
    background-color: rgb(173, 173, 173);
}

.users .person:hover {
    background-color: #0056a7;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#0056a7));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #0056a7);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #0056a7);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #0056a7);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #0056a7);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #0056a7);
}

.users .person.active-user {
    background-color: #0056a7;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#0056a7));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #0056a7);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #0056a7);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #0056a7);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #0056a7);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #0056a7);
}

.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
img{
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.users .person .user .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.users .person .user .status.online {
    background: #9ec94a;
}

.users .person .user .status.offline {
    background: #c4d2e2;
}

.users .person .user .status.away {
    background: #f9be52;
}

.users .person .user .status.busy {
    background: #fd7274;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}


/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/

.selected-user {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e6ecf3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    height: 90%;
    position: relative;
    padding: 1rem;
}

.chat-container li,
.chat-container li {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 0px;
}
.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .chat-avatar {
    margin-right: 20px;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}
.chat-name{
    font-size: 1.3rem;
}
.chat-container li  {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container li :before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right >  {
    text-align: right;
}

.chat-container li.chat-right > :before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .chat-container li img {
        width: 32px;
        height: 32px;
    }
    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container li.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container li.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container li.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container li.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container li  {
        font-size: .8rem;
    }
}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}
.container-1{
    /* background-color: rgb(203, 203, 203); */
    
    margin-left: 77px;
    /* padding-bottom: 77px; */
    width: 93%;
}
.row{
    /* background-color: rgb(203, 203, 203); */
    background-color: #fff;
    /* border: solid black 1px; */
}
.btn-info{
    height: 34px;
}
.users-container{
    background-color: rgb(203, 203, 203);
    border: none;
}
.users{
    padding:0px 10px;
    max-height: 550px; /* Kích thước tối đa của phần tử */
    overflow-y: auto;  /* Thêm thanh cuộn dọc nếu cần */
    border: 1px solid #ddd;
}
.users::-webkit-scrollbar {
    width: 0; /* Ẩn thanh cuộn dọc */
}
.chat-container{
    /* max-height: 550px;  */
    overflow-y: auto; 
    border: 1px solid #ddd;
}
.chat-container::-webkit-scrollbar {
    width: 0;
}
.chat-box{
    max-height: 450px; 
    height: 100%;
    overflow-y: auto; 
    border: 1px solid #ddd;
}
.chat-box::-webkit-scrollbar {
    width: 0; 
}
.person{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.name{
    font-size: 15px;;
}
.last-message{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.user-message{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.last-time{
    font-size: 13px;;
}
.user-name{
    display: flex;
    width: 100%;    
}
.form-group{
    position: absolute; /* Thiết lập vị trí tuyệt đối cho textarea */
    bottom: 50;          /* Đặt textarea ở dưới cùng của thẻ cha */
    left: 0;            /* Đặt ở phía bên trái của thẻ cha */
    width: 100%;        /* Đảm bảo textarea chiếm toàn bộ chiều rộng của thẻ cha */
    box-sizing: border-box;
}
/* Ẩn thanh cuộn của textarea */
.form-control {
    overflow: hidden; /* Ẩn thanh cuộn */
    resize: none;     /* Ngăn việc thay đổi kích thước bằng tay */
}
.chat-text-left{
    color : #fff;align-self: flex-start;border-radius: 20px;background-color : #339bfc;
    font-size: 1.8rem;;
    padding : 10px;
    max-width: 70%;;
}
.chat-text-right{
    color : #fff;align-self: flex-end;border-radius: 20px;background-color : #339bfc;
    font-size: 1.8rem;;
    padding : 10px;
    max-width: 70%;;
}
.chat-left{
    width: 100%;
    border-radius: 20px;
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    justify-content: flex-start; /* Căn chỉnh các phần tử con về phía bên phải */
    margin-bottom: 10px;
}
.chat-right{
    width: 100%;
    text-align: right;
    border-radius: 20px;
    display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
    justify-content: flex-end; /* Căn chỉnh các phần tử con về phía bên phải */
    margin-bottom: 10px;
    align-self: flex-end;
}
.conversation{
    height: 100%;
}


.chat-time {
    /* background-color: red; */
    font-size: 12px; /* Kích thước chữ nhỏ hơn cho thời gian */
    color: #999; /* Màu sắc mờ hơn cho thời gian */
    margin-top: 5px; /* Khoảng cách trên giữa tin nhắn và thời gian */
     /* Đặt thời gian ở dưới, bên phải của tin nhắn */
}
button {
    position: absolute; /* Thiết lập vị trí tuyệt đối cho textarea */
    bottom: 20%;          /* Đặt textarea ở dưới cùng của thẻ cha */
    right: 10px;            /* Đặt ở phía bên trái của thẻ cha */
    box-sizing: border-box;
    padding: 10px 15px; /* Padding cho nút */
    font-size: 1.6rem; /* Kích thước chữ của nút */
    color: #fff; /* Màu chữ của nút */
    background-color: #007bff; /* Màu nền của nút (thay đổi theo ý bạn) */
    border: none; /* Loại bỏ viền của nút */
    border-radius: 5px; /* Bo tròn góc của nút */
    cursor: pointer; /* Thay đổi con trỏ khi di chuột qua nút */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền khi hover */
}

button:hover {
    background-color: #0056b3; /* Màu nền khi hover (thay đổi theo ý bạn) */
}
